<header>
  <h1>
      <a href="https://www.costco.ca/"><img class="bc-logo logo-ca" src="/assets/image/Costco-Wholesale-Canada.svg" alt="Costco Canada Business Centre Homepage" height="100px"></a>
  </h1>
</header>





