<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="https://www.costco.ca/appliances.html" target="_blank">Applicants</a>
  <a href="https://www.costco.ca/auto.html" target="_blank">Automotive & Tires</a>
  <a href="https://www.costco.ca/computers.html" target="_blank">Computers</a>
  <a href="https://www.costco.ca/jewellery-fashion.html">Jewellery, Watches & Sunglasses</a>
  <a href="https://www.costco.ca/pet-supplies.html">Pet Supplies</a>
  <a href="https://www.costco.ca/sports-fitness.html">Sports & Fitness</a>
  <a href="https://www.costco.ca/view-more.html">View More Categories</a>
</div>
