<!--<div class="swiper-container">-->
  <!--<div class="swiper-wrapper">-->
    <!--<div class="swiper-slide" *ngFor="let item of slides">-->
      <!--<img [src]="item" alt="">-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash; Add Pagination &ndash;&gt;-->
  <!--<div class="swiper-pagination"></div>-->
  <!--&lt;!&ndash; Add Arrows &ndash;&gt;-->
  <!--<div class="swiper-button-next"></div>-->
  <!--<div class="swiper-button-prev"></div>-->
<!--</div>-->
<!--<div id="container">-->
  <!--Start insert pics-->
  <!--<ul id="banner">-->
    <!--<li>-->
      <!--<a href="https://www.costcotravel.ca/Travel-Offers/Spring-Vacation?&utm_source=costco.ca&utm_medium=hero&utm_campaign=mkt&utm_term=Spring-Vacation&utm_content=20181126#blastOfferHeroBannerHeaderText" target="_blank">-->
        <!--<img src="https://www.costco.ca/wcsstore/CostcoCABCCatalogAssetStore/homepage/d-hero-181126-travel-en.jpg" alt="Costco Travelling">-->
      <!--</a>-->
    <!--</li>-->

    <!--<li>-->
      <!--<a href="https://www.costco.ca/cyber-monday-savings.html" target="_blank">-->
        <!--<img id="img" src={{arrImgs[0]}} alt="Costco Cyber Monday">-->
      <!--</a>-->
    <!--</li>-->

    <!--<li>-->
      <!--<a href="https://www.costco.ca/itunes-gift-cards.html" target="_blank">-->
        <!--<img src="https://www.costco.ca/wcsstore/CostcoCABCCatalogAssetStore/homepage/d-hero-181126-itunes-en.jpg" alt="Costco Apple iTune">-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="https://www.costco.ca/CatalogSearch?dept=All&keyword=LGapp1118" target="_blank">-->
        <!--<img src="https://www.costco.ca/wcsstore/CostcoCABCCatalogAssetStore/homepage/d-hero-181126-LG-en.jpg" alt="Costco LG Productions">-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="https://www.costco.ca/online-offers.html" target="_blank">-->
        <!--<img src="https://www.costco.ca/wcsstore/CostcoCABCCatalogAssetStore/homepage/d-hero-181126-vitamix-en.jpg" alt="Costco Vitamix Coffee Machine">-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="https://www.costco.ca/WarehouseTiresLocatorView" target="_blank">-->
        <!--<img src="https://www.costco.ca/wcsstore/CostcoCABCCatalogAssetStore/homepage/d-hero-181008-michelin-en.jpg" alt="Costco Michelin Tires">-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="https://www.costcotravel.ca/Travel-Offers/Spring-Vacation?&utm_source=costco.ca&utm_medium=hero&utm_campaign=mkt&utm_term=Spring-Vacation&utm_content=20181126#blastOfferHeroBannerHeaderText" target="_blank">-->
        <!--<img src="https://www.costco.ca/wcsstore/CostcoCABCCatalogAssetStore/homepage/d-hero-181126-travel-en.jpg" alt="Costco Travelling">-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="https://www.costco.ca/cyber-monday-savings.html" target="_blank">-->
        <!--<img src="https://www.costco.ca/wcsstore/CostcoCABCCatalogAssetStore/homepage/d-hero-181126-cyber-monday-en.jpg" alt="Costco Cyber Monday">-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->
  <!--End insert pics-->

  <!--Start add dots-->
  <!--the dot number should equal to number of pictures displayed you want -->
  <!--<div id="buttons">-->
    <!--<span index="1" class="on"></span>-->
    <!--<span index="2"></span>-->
    <!--<span index="3"></span>-->
    <!--<span index="4"></span>-->
    <!--<span index="5"></span>-->
  <!--</div>-->
  <!--&lt;!&ndash;End add dots&ndash;&gt;-->

  <!--&lt;!&ndash;Start add arrow&ndash;&gt;-->
  <!--<a (click)="moveLeft()" id="prev" class="arrow">&lt;</a>-->
  <!--<a (click)="moveRight()" id="next" class="arrow">&gt;</a>-->
  <!--&lt;!&ndash;End add arrow&ndash;&gt;-->
<!--</div>-->

<div class="swiperCtrlDiv" ng-controller="swiperCtrl">

  <div class="swiper-container">
    <div class="swiper-wrapper" ng-repeat="item in items">
      <div class="swiper-slide" *ngFor="let item of slides">
        <img [src]="item" alt="">
      </div>
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
