////#container {
////  position: relative;
////  overflow: hidden;
////  //padding: 0;
////  //margin: 0;
////  width: 730px;
////  height: 454px;
////  margin: 100px auto;
////}
////
////#banner ul {
////  list-style: none;
////  //margin: 0;
////  //padding: 0;
////  //float: left;
////  //display: inline;
////  //width: 1200px;
////}
////
////#banner li img {
////  display: block;
////  float: left;
////  //width: 100%;
////  margin-left: -20px;
////}
////
////#buttons {
////  position: absolute;
////  height: 10px;
////  width: 100px;
////  bottom: 20px;
////  left: 50%;
////  z-index: 100;
////}
////
////#buttons span {
////  cursor: pointer;
////  float: left;
////  width: 10px;
////  height: 10px;
////  border-radius: 50%;
////  background: whitesmoke;
////  border: 1px solid black;
////  margin-right: 5px;
////}
////
////#buttons .on {
////  background: dodgerblue;
////}
////
////.arrow {
////  cursor: pointer;
////  display: none;
////  height: 40px;
////  line-height: 40px;
////  text-align: center;
////  font-size: 36px;
////  font-weight: bold;
////  width: 40px;
////  position: absolute;
////  z-index: 200;
////  top: 180px;
////  background: RGBA(0,0,0,.3);
////  color: #fff;
////}
////
////#container:hover .arrow {
////  display: block;
////}
////
////#prev {
////  left: 20px;
////}
////
////#next {
////  right: 20px;
////}
//
//
////#container, #banner {
////  padding: 0;
////  margin: 0;
////}
////
////#banner {
////  list-style: none;
////}
//
////#container {
////  width: 1260px;
////  height: 400px;
////  margin: 10px auto;
////  overflow: hidden;
////  position: relative;
////}
//
////.swiper-container {
////    width: 1260px;
////    height: 400px;
////    margin: 10px auto;
////    overflow: hidden;
////    position: relative;
//  //list-style: none;
//}
////.swiper-slide {
////  text-align: center;
////  font-size: 18px;
////  background: #fff;
////  /* Center slide text vertically */
////  display: -webkit-box;
////  display: -ms-flexbox;
////  display: -webkit-flex;
////  display: block;
////  -webkit-box-pack: center;
////  -ms-flex-pack: center;
////  -webkit-justify-content: center;
////  justify-content: center;
////  -webkit-box-align: center;
////  -ms-flex-align: center;
////  -webkit-align-items: center;
////  align-items: center;
////}
//
