<div>
  <a href="https://www.costco.ca/aeroplan.html" target="_blank ">
    <img src="/assets/image/aeroplan.jpg" alt="Aeroplan promotion" style="width: 100%">
  </a>

  <audio autoplay="autoplay" loop="loop" preload="auto" src="/assets/music/sens.mp3" style="width: 100%">
    Your browser does not support the audio element.
  </audio>
</div>

