<div class="blog">
  <div class="footer-list" id="hidden-xs hidden-sm">
    <div class="footer-items row gutter">
      <div class="col-sm-3 col-md-3">
        <ul class="footer-list">
          <li class="footer-column-title">About Us</li>
          <li><a href="https://www.costco.ca//jobs.html">Jobs</a></li>
          <li><a href="https://www.costco.ca//kirkland-signature.html">Kirkland Signature</a></li>
          <li><a href="http://www.costcoconnection.ca/connectioncaeng/">The Costco Connection</a></li>
          <li><a href="https://www.costco.ca//employee-website.html">Employee Site</a></li>
          <li><a href="http://www.mycostcocatalogue.ca/mycostcocatalogue/mycostcocatalogue_2018?pg=1#pg1" class="external">My Costco Catalogue</a></li>
        </ul>
      </div>

      <div class="col-sm-3 col-md-3">
        <ul class="footer-list membership">
          <li class="footer-column-title">Membership</li>
          <li><a href="https://www.costco.ca/join-costco.html">Join Now</a></li>
          <li><a href="https://www.costco.ca/executive-rewards.html">Executive Rewards</a></li>
          <li><a href="https://www.costco.ca/membership-conditions-regulations.html">Member Conditions</a></li>
          <li><a href="https://www.costco.ca/LogonForm?langId=-24&amp;storeId=10302&amp;catalogId=11201">Sign In or Register</a></li>
          <li><a href="https://www.costco.ca/capital-one-platinum-mastercard.html">Credit Card</a></li>
          <li><a href="https://www.costco.ca/aeroplan.html">Aeroplan</a></li>
        </ul>
        <ul class="footer-list">
          <li class="footer-column-title">Vendors &amp; Suppliers</li>
          <li><a href="https://www.costco.ca/confidential-ethics-hotline-for-suppliers.html">Ethics Hotline for Suppliers</a></li>
          <li><a href="https://www.costco.ca/disclosure-regarding-human-trafficking-and-anti-slavery.html">Supply Chain Disclosure</a></li>
        </ul>
      </div>

      <div class="col-sm-3 col-md-3">
        <ul class="footer-list">
          <li class="footer-column-title">Customer Service</li>
          <li><a href="https://www.costco.ca/costco-cash-card">Costco Cash Card Balance</a></li>
          <li><a href="https://www.costco.ca/OrderByItemsDisplayView?storeId=10302&amp;catalogId=11201&amp;langId=-24&amp;fromPage=OrderByItemsDisplayView">Order By Item Number</a></li>
          <li><a href="https://www.costco.ca/concierge.html">Costco Concierge Services</a></li>
          <li><a href="https://www.costco.ca/OrderStatusCmd?storeId=10302&amp;orderStatusStyle=strong&amp;URL=OrderStatusSummaryView">Order Status</a></li>
          <li><a href="https://www.costco.ca/fraud-prevention.html">Preventing Fraud</a></li>
          <li><a href="https://customerservice.costco.ca/app/answers/list/p/281">Shipping</a></li>
          <li><a href="https://customerservice.costco.ca/app/answers/detail/a_id/8104">Rebates</a></li>
          <li><a href="https://customerservice.costco.ca/app/answers/list/p/1209" target="_blank">Product Notices</a></li>
          <li><a href="https://customerservice.costco.ca/app/answers/list/p/285;288;297">Returns and Exchanges</a></li>
          <li><a href="https://customerservice.costco.ca/app/answers/detail/a_id/585">Returns Policy</a></li>
          <li><a href="https://www.costco.ca/purchase-terms.html">Purchase Terms</a></li>
          <li><a href="http://www.costco.ca/community-relations.html">Donations</a></li>
          <li><a href="https://www.costco.ca/accessibility.html">Accessibility</a></li>
          <li><a href="https://www.costco.ca/recycling-information.html">Recycling</a></li>
        </ul>
      </div>

      <div class="col-sm-3 col-md-3">
        <ul class="footer-list">
          <li class="footer-column-title">Locations &amp; Services</li>
          <li><a href="https://www.costco.ca//warehouse-locations?langId=-24&amp;storeId=10302&amp;catalogId=11201">Find a Warehouse</a></li>
          <li><a href="https://www.costco.ca//new-locations.html">Locations Coming Soon</a></li>
          <li><a href="https://www.costco.ca//hours-and-holiday-closures.html">Hours and Holiday Closures</a></li>
          <li><a href="https://www.costco.ca//costco-app.html">Costco App</a></li>
          <li><a href="https://www.costco.ca//gasoline.html">Gasoline</a></li>
          <li><a href="https://www.costco.ca//hearing-aid-centre.html">Hearing Aid Centre</a></li>
          <li><a href="https://www.costco.ca//special-events.html">Special Events</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>

<hr style="width: 92%" />

